<div class="row">
  <div class="col-xs-6 form-group">
    <label>Card Account</label>
    <input type="number" ng-model="request.Account" required class="form-control"/>
  </div>
  <div class="col-xs-6 form-group">
    <label>Experation Date</label>
    <input type="text" ng-model="request.Expiration" required class="form-control" />
  </div>
  <div class="col-xs-6 form-group">
    <label>CVV</label>
    <input type="number" ng-model="request.CVV" required class="form-control" />
  </div>
  <div class="col-xs-6 form-group">
    <label>Zip</label>
    <input type="text" ng-model="request.Zip" required class="form-control" />
  </div>
</div>
