<div class="row">
  <div class="col-xs-12">
    <div class="row" ng-repeat="sku in receipt.Skus">
      <div class="col-xs-6">{{sku.SkuDescription}}</div>
      <div class="col-xs-2"><span ng-show="sku.Quantity > 1">(x{{sku.Quantity}})</span></div>
      <div class="col-xs-4">{{sku.Amount | currency}}</div>
    </div>
    <div class="row" ng-repeat="discount in receipt.Discounts">
      <div class="col-xs-8">{{discount.Description}}</div>
      <div class="col-xs-4">{{discount.Amount | currency}}</div>
    </div>
    <div class="row">
      <div class="col-xs-8">SubTotal</div><div class="col-xs-4">{{receipt.SubTotal | currency}}</div>
      <div class="col-xs-8">Tax</div><div class="col-xs-4">{{receipt.Taxes | currency}}</div>
      <div class="col-xs-8">Total</div><div class="col-xs-4">{{receipt.Total | currency}}</div>
    </div>
  </div>
</div>
