<div class="row">
  <div class="col-sm-4">
    <button class="btn btn-info" ng-click="addSku('Shampoo')">
      Shampoo
    </button>
  </div>
  <div class="col-sm-4">
    <button class="btn btn-primary" ng-click="addSku('Bar-O-Soap')">
      Bar-O-Soap
    </button>
  </div>
  <div class="col-sm-4">
    <button class="btn" ng-click="addSku('Hair-Jell')">
      Hair-Jell
    </button>
  </div>
  <div class="col-sm-4">
    <button class="btn btn-danger" ng-click="addSku('Color-Red')">
      Color-Red
    </button>
  </div>
  <div class="col-sm-4">
    <button class="btn btn-warning" ng-click="addSku('Color-Yellow')">
      Color-Yellow
    </button>
  </div>
  <div class="col-sm-4">
    <button class="btn btn-success" ng-click="addSku('Color-Green')">
      Color-Green
    </button>
  </div>
</div>
